version: "3.9"
services:
    restreamer:
        container_name: restreamer
        restart: unless-stopped
        privileged: true
        volumes:
            - ~/restreamer/core/config:/core/config
            - ~/restreamer/core/data:/core/data
        ports:
            - ${restreamer_http:-80}:8080
            - ${restreamer_https:-443}:8181
            - ${restreamer_rtmp:-1935}:1935
            - ${restreamer_rtmps:-1936}:1936
            - ${restreamer_srt:-6000}:6000/udp
        image: docker.io/datarhei/restreamer:latest
#        network_mode: host
#         networks:
#             - restreamer_network

# networks:
#   restreamer_network:
#     driver: bridge